body {
    background: #1a1a1a;
}

.gameTitle {
    margin: 0 0 0.2em;
    color: #E6A167;
    font-size: 200px;
    font-family: "Comic Sans MS", serif;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
}

p {
    color: white;
}

.versionP {
    color: #2FBDBD;
    font-size: 30px;
    margin: 0.2em 0 0 0.5em;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.installButton {
    width: 500px;
    height: 150px;
    color: #CC5D00;
    background: #232323;
    font-size: 85px;
    font-family: "Comic Sans MS", serif;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 20px;
    outline-offset: -20px;
    outline: #CC5D00 solid 10px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 8px black;
}

.installButton:hover {
    width: 545px;
    height: 162px;
    font-size: 93px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #CC5D00;
}

.loginButton, .logoutButton{
    width: 200px;
    height: 120px;
    color: #CC0000;
    background: #232323;
    font-size: 50px;
    font-family: "Comic Sans MS", serif;
    margin: 0.4em auto 0;
    display: block;
    border: none;
    border-radius: 20px;
    outline-offset: -12px;
    outline: #CC0000 solid 6px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 3px black;
}

.loginButton:hover, .logoutButton:hover{
    width: 218px;
    height: 130px;
    font-size: 55px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #CC0000;
}

.signUpButton {
    width: 250px;
    height: 100px;
    color: #850000;
    background: #232323;
    font-size: 50px;
    font-family: "Comic Sans MS", serif;
    margin: 0.2em auto 0;
    display: block;
    border: none;
    border-radius: 20px;
    outline-offset: -12px;
    outline: #850000 solid 6px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 3px black;
}

.signUpButton:hover {
    width: 275px;
    height: 110px;
    font-size: 55px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #850000;
}

.logoutButtonYes{
    width: 200px;
    height: 120px;
    color: #CC0000;
    background: #232323;
    font-size: 50px;
    font-family: "Comic Sans MS", serif;
    margin: 0.4em auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    outline-offset: -12px;
    outline: #CC0000 solid 6px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 3px black;
}

.logoutButtonYes:hover{
    width: 218px;
    height: 130px;
    font-size: 55px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #CC0000;
}

.logoutButtonNo {
    width: 200px;
    height: 120px;
    color: #850000;
    background: #232323;
    font-size: 50px;
    font-family: "Comic Sans MS", serif;
    margin: 0.4em auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    outline-offset: -12px;
    outline: #850000 solid 6px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 3px black;
}

.logoutButtonNo:hover {
    width: 218px;
    height: 130px;
    font-size: 55px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #850000;
}

.profileButton {
    width: 150px;
    height: 100px;
    color: #2FBDBD;
    background: #232323;
    font-size: 35px;
    font-family: "Comic Sans MS", serif;
    margin: 0.4em auto 0;
    position: absolute;
    right: 20px;
    top: 0;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    outline-offset: -12px;
    outline: #2FBDBD solid 6px;
    transition-duration: 0.2s;
    box-shadow: 0 0 40px 3px black;
}

.profileButton:hover {
    width: 166px;
    height: 108px;
    font-size: 40px;
    transition-duration: 0.2s;
    text-shadow: 0 0 20px #2FBDBD;
}